<form action="/main" method="POST">
  <div class="form-group">
    <input
      id="urlBar"
      type="text"
      class="form-control"
      name="videoUrl"
      placeholder="Enter Video URL"
      required
      autofocus
    />
  </div>
  <div>
    <button class="btn btn-primary" id="urlSubmit" type="submit">Submit</button>
  </div>
</form>
