<div id="videoSpace" class="container">
  <div class="plyr__video-embed" id="player">
    <iframe
      id="iframeVideo"
      src="<%= response %>"
      allowfullscreen
      allowtransparency
      allow="autoplay"
    ></iframe>
  </div>
</div>
