@{
    ViewBag.Title = "Home Page";
}


    <div class="sourceBar mainContain">
        <!--<input class="urlInputBar" name="urlVideo" type="url" value="enter url">-->
    </div>
    <br />
    <div class="mainContain">

        <aside class="leftAside"></aside>
        <video id="mainVideo" class="" src=""></video>
        <canvas id="myCanvas" class="canvasOverlay" width="400" height="400"></canvas>

        <aside class="rightAside">
            <ul class="menuButtons">
                <li>
                    <button class="open" id="videoOpen">Pick Video</button>
                </li>
                <li>
                    <button name="Play button" id="pressPlay">Play</button>
                </li>
                <li>
                    <button name="Pause button" id="pressPause">Pause</button>
                </li>
                <li>
                    <button name="Draw button" id="pressDraw">Draw</button>
                </li>
                <li>
                    <button name="Screenshot button" id="pressScreenShot">Screenshot</button>
                </li>
                <li>
                    <button name="Clear Screen" id="pressClear">Clear</button>
                </li>
            </ul>
        </aside>
    </div>

    <div class="controlBar"></div>

