.rightAside li {
    list-style-type: none;
}

.rightAside button {
    /*  min-width: 100px;
    min-height: 50px; */
    width: 150px;
    height: 75px;
    background-color: #ffffff;
    color: blue;
    transition: background-color .5s;
}

div.sourceBar {
    background-color: #ffffff;
    position: relative;
    /*top: 120px;*/
    top: 15px;
    left: 15px;
}

div.sourceBar .urlInputBar {
    min-width: 900px;
    height: 25px;
    }


div.mainContain {
    display: flex;
    justify-content: center;
}

div video{
    position: relative;
    right: -300px;
    z-index: 1;
}

div canvas.canvasOverlay {
    float: left;
    position: relative;
    z-index: 2;
    left: -200px;
}