@*https://developer.mozilla.org/en-US/docs/Web/API/FileReader/load_event*@
@*https://developer.mozilla.org/en-US/docs/Web/API/FileReader/FileReader*@

@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<div class="container">
    <div class="mainContain">

        <aside class="leftAside"></aside>
        <video id="mainVideo" class="" src=""></video>
        <canvas id="myCanvas" class="canvasOverlay" width="400" height="400"></canvas>

        <aside class="rightAside">
            <ul class="menuButtons">
                <li>
                    <!--Hidden input for finding files on users machine-->
                    <input id="hiddenInput" value="Pick Video" type="file" accept="video/*" style="display:none">
                    <button class="open" id="videoPick">Pick Video</button>
                </li>
                <li>
                    <button name="Play button" id="pressPlay">Play</button>
                </li>
                <li>
                    <button name="Pause button" id="pressPause">Pause</button>
                </li>
                <li>
                    <button name="Draw button" id="pressDraw">Draw</button>
                </li>
                <li>
                    <button name="Screenshot button" id="pressScreenShot">Screenshot</button>
                </li>
                <li>
                    <button name="Clear Screen" id="pressClear">Clear</button>
                </li>
            </ul>
        </aside>
    </div>
</div>
