<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

  
  <body>

    <div class="container">
      <div class="container">        
        
        <!-- Input to ente video URL this dictates what JS write to the video space div-->
        <form>
          <div class="form-group">            
            <input type="text" class="form-control" name="videoUrl" placeholder="Enter Video URL" required autofocus>
          </div>          
          <div>
            <button id="urlSubmit" type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

      </div>
      <hr />

      <div id="videoSpace" class="container">
          
          <!--<div id="player" data-plyr-provider="youtube" data-plyr-embed-id="nIkHXY1QbVE">         -->

          </div>
                
      </div>

    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>    
    <script src="/js/mainPlyr.js"></script>    

  </body>
</html>
