<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>


  <body id="bodyLoad">
    <div class="container">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Telestrator App</h1>
        <p class="muted">Coming Soon</p>
      </div>
      <div class="container">
        <!-- Input to enter new URL -->
        <% include ../partials/urlForm.ejs %>
      </div>
      <hr />
      <!-- Get to pull url from input form -->
      <% include ../partials/videoSpace.ejs %>
      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script src="/js/mainPlyr.js"></script>

  </body>
</html>
